<div class="callout callout--primary">
  <div class="grid grid--col2">
    <div class="callout__content">
      <h2>Ready to get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta facilis
        vitae recusandae sed, exercitationem quis eveniet illo, autem enim,
        facere id culpa est nemo? Nesciunt vel fugit similique
      </p>
    </div>
    <a href="#" class="btn btn--secondary callout__btn btn--stretch"
      >Get started</a
    >
  </div>
</div>
