<section class="block block--dark block--skewed-left block-showcase">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--col2">
    <img
      class="showcase__img"
      src="./images/ipad.png"
      alt="showing ipad image"
    />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Manage Updates</h3>
            <p class="media__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
              cumque rerum ad natus quibusdam voluptate omnis, fugiat quas
              saepe. Quas.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Manage Updates</h3>
            <p class="media__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
              cumque rerum ad natus quibusdam voluptate omnis, fugiat quas
              saepe. Quas.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Manage Updates</h3>
            <p class="media__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
              cumque rerum ad natus quibusdam voluptate omnis, fugiat quas
              saepe. Quas.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
